body
{
	background:url("../img/body_bg.jpg") no-repeat fixed;
	/* 当background-attachment设置为scroll时background-size设置为cover不能解析 */
	background-size: cover;	
	width: 100%;
	height: 100%;
}

/* NAV */
#navi .leader
{
	background-color: rgba(33,33,33,33.8);
	height:44px;
	width: 100%;
}	
#navi .leader ul
{
	list-style: none;
	width: 80%;
	background-color: red;
	margin:0 auto;
	text-align: center;
}
#navi .leader li
{
	display: inline-block;
	height: 44px;
	width:6%;
	margin-left: 4%;
}
#navi .leader li:first-child
{
	margin-left:0;
}
#navi .leader li a
{
	display: inline-block;
	height: 44px;
	text-decoration: none;
	line-height: 44px;
	color:white;
}
/* / NAV */

/* HEADER */
#header
{
	width: 100%;
	margin-bottom:60px; 
}
#header .header_img
{
	background: url("../img/wrap_bg.jpg") center;
	height: 250px;
}
#header .header_imgshow
{
	position: relative;
	width: 1200px;
	height: 625px;
	margin: 0 auto;
}
#header .main
{
	position: relative;
	overflow: hidden;
}
#header .main,#header .imgs
{
	width: 1200px;
	height: 500px;
}
#header .main_imgs
{
	width: 7200px;
	height: 500px;
	position: absolute;
}
#header .imgs
{
	float: left;
}
#header .imgs1
{
	background:url("../img/banner_00.jpg") center; 
}
#header .imgs2
{
	background:url("../img/banner_01.jpg") center; 
}
#header .imgs3
{
	background:url("../img/banner_02.jpg") center; 
}
#header .imgs4
{
	background:url("../img/banner_03.jpg") center; 
}
#header .imgs5
{
	background:url("../img/banner_04.jpg") center; 
}
#header .imgs6
{
	background:url("../img/banner_05.jpg") center; 
}

#header .foot
{
	position: absolute;
	bottom:0;
}
#header .foot_run
{
	width: 100%;
	height: 172px;
}
#header .foot_run .s_img
{
	height: 162px;
	float:left;
}
#header .foot_run .s_img .img
{
	width: 200px;
	height: 162px;
	cursor:pointer;
}
#header .foot_run .s_img1 .img
{
	background: url("../img/sbanner_00.png") right center ;
}
#header .foot_run .s_img2 .img
{
	background: url("../img/sbanner_01.png") right center ;
}
#header .foot_run .s_img3 .img
{
	background: url("../img/sbanner_02.png") right center ;
}
#header .foot_run .s_img4 .img
{
	background: url("../img/sbanner_03.png") right center ;
}
#header .foot_run .s_img5 .img
{
	background: url("../img/sbanner_04.png") right center ;
}
#header .foot_run .s_img6 .img
{
	background: url("../img/sbanner_05.png") right center ;
}
#header .foot_run .bar
{
	height: 10px;
	width: 200px;
}
#header .foot_run .bar1
{
	background-color: #7b5596;
}
#header .foot_run .bar2
{
	background-color: #83a2cc;
}
#header .foot_run .bar3
{
	background-color: #363E48;
}
#header .foot_run .bar4
{
	background-color: #767DA7;
}
#header .foot_run .bar5
{
	background-color: #47acab;
}
#header .foot_run .bar6
{
	background-color: #c86c8c;
}

#header .foot_run .bar_run
{
	height: 100%;
	
	background-color: rgba(0,0,0,.2);
}
/* /header */

script
{
	display: none;
}